<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sounds contextName="TrashStashGame_Sounds" baseDir="assets/sound/">
		<!-- Categories -->
		<sound alias="blue" />
		<sound alias="caneat" />
		<sound alias="canteat" />
		<sound alias="flowers" />
		<sound alias="fruitsnutsveg" />
		<sound alias="grew" />
		<sound alias="growtrees" />
		<sound alias="handles" />
		<sound alias="letters" />
		<sound alias="liquid" />
		<sound alias="metal" />
		<sound alias="numbers" />
		<sound alias="orange" />
		<sound alias="orangenotround" />
		<sound alias="purpround" />
		<sound alias="red" />
		<sound alias="round" />
		<sound alias="simthings" />
		<sound alias="striped" />
		<sound alias="wear" />
		<sound alias="yellow" />
		<!-- /Categories -->
		<!-- Other Narrator VO -->
		<sound alias="0right" />
		<sound alias="1right" />
		<sound alias="2right" />
		<sound alias="3right" />
		<sound alias="foundfour" />
		<sound alias="canyoufind" />
		<sound alias="goagain" />
		<sound alias="goagain2" />
		<sound alias="putback" />
		<sound alias="remember" />
		<sound alias="sortingmood" />
		<!-- raccoon warnings -->
		<sound alias="raccoon_herecomes" />
		<sound alias="raccoon_lookbelow" />
		<sound alias="raccoon_watchout" />
	</sounds>
	
	<levels>
		<level id="1">
			<category name="yellow">
				<object frame="1" correct="true" />
				<object frame="2" correct="true" />
				<object frame="3" correct="true" />
				<object frame="4" correct="true" />
				<object frame="40"/>
				<object frame="44"/>
				<object frame="32"/>
				<object frame="55"/>
				<object frame="28"/>
				<object frame="58"/>
			</category>
			<category name="red">
				<object frame="17" correct="true" />
				<object frame="8" correct="true" />
				<object frame="19" correct="true" />
				<object frame="11" correct="true" />
				<object frame="27"/>
				<object frame="1"/>
				<object frame="57"/>
				<object frame="21"/>
				<object frame="35"/>
				<object frame="41"/>
			</category>
			<category name="blue">
				<object frame="21" correct="true" />
				<object frame="54" correct="true" />
				<object frame="46" correct="true" />
				<object frame="26" correct="true" />
				<object frame="19"/>
				<object frame="37"/>
				<object frame="48"/>
				<object frame="66"/>
				<object frame="51"/>
				<object frame="56"/>
			</category>
			<category name="orange">
				<object frame="34" correct="true" />
				<object frame="7" correct="true" />
				<object frame="45" correct="true" />
				<object frame="24" correct="true" />
				<object frame="14"/>
				<object frame="42"/>
				<object frame="60"/>
				<object frame="62"/>
				<object frame="65"/>
				<object frame="29"/>
			</category>
		</level>
		<level id="2">
			<category name="round">
				<object frame="29" correct="true" />
				<object frame="30" correct="true" />
				<object frame="38" correct="true" />
				<object frame="28" correct="true" />
				<object frame="40"/>
				<object frame="55"/>
				<object frame="47"/>
				<object frame="62"/>
				<object frame="52"/>
				<object frame="2"/>
			</category>
			<category name="fruitsnutsveg">
				<object frame="34" correct="true" />
				<object frame="35" correct="true" />
				<object frame="14" correct="true" />
				<object frame="39" correct="true" />
				<object frame="59"/>
				<object frame="23"/>
				<object frame="76"/>
				<object frame="32"/>
				<object frame="49"/>
				<object frame="30"/>
			</category>
			<category name="flowers">
				<object frame="67" correct="true" />
				<object frame="68" correct="true" />
				<object frame="69" correct="true" />
				<object frame="70" correct="true" />
				<object frame="16"/>
				<object frame="63"/>
				<object frame="31"/>
				<object frame="3"/>
				<object frame="45"/>
				<object frame="41"/>
			</category>
		</level>
		<level id="3">
			<category name="growtrees">
				<object frame="35" correct="true" />
				<object frame="37" correct="true" />
				<object frame="15" correct="true" />
				<object frame="36" correct="true" />
				<object frame="43"/>
				<object frame="20"/>
				<object frame="46"/>
				<object frame="24"/>
				<object frame="4"/>
				<object frame="28"/>
			</category>
			<category name="caneat">
				<object frame="62" correct="true" />
				<object frame="14" correct="true" />
				<object frame="34" correct="true" />
				<object frame="38" correct="true" />
				<object frame="44"/>
				<object frame="47"/>
				<object frame="60"/>
				<object frame="53"/>
				<object frame="30"/>
				<object frame="26"/>
			</category>
			<category name="striped">
				<object frame="20" correct="true" />
				<object frame="6" correct="true" />
				<object frame="30" correct="true" />
				<object frame="12" correct="true" />
				<object frame="46"/>
				<object frame="36"/>
				<object frame="15"/>
				<object frame="8"/>
				<object frame="55"/>
				<object frame="68"/>
			</category>
		</level>
		<level id="4">
			<category name="metal">
				<object frame="43" correct="true" />
				<object frame="40" correct="true" />
				<object frame="27" correct="true" />
				<object frame="41" correct="true" />
				<object frame="38"/>
				<object frame="39"/>
				<object frame="20"/>
				<object frame="11"/>
				<object frame="5"/>
				<object frame="62"/>
			</category>
			<category name="numbers">
				<object frame="71" correct="true" />
				<object frame="72" correct="true" />
				<object frame="73" correct="true" />
				<object frame="74" correct="true" />
				<object frame="46"/>
				<object frame="24"/>
				<object frame="64"/>
				<object frame="76"/>
				<object frame="77"/>
				<object frame="3"/>
			</category>
			<category name="letters">
				<object frame="75" correct="true" />
				<object frame="76" correct="true" />
				<object frame="77" correct="true" />
				<object frame="78" correct="true" />
				<object frame="59"/>
				<object frame="63"/>
				<object frame="72"/>
				<object frame="74"/>
				<object frame="34"/>
				<object frame="1"/>
			</category>
		</level>
		<level id="5">
			<category name="handles">
				<object frame="4" correct="true" />
				<object frame="45" correct="true" />
				<object frame="46" correct="true" />
				<object frame="41" correct="true" />
				<object frame="44"/>
				<object frame="2"/>
				<object frame="60"/>
				<object frame="22"/>
				<object frame="55"/>
				<object frame="29"/>
			</category>
			<category name="liquid">
				<object frame="21" correct="true" />
				<object frame="23" correct="true" />
				<object frame="42" correct="true" />
				<object frame="4" correct="true" />
				<object frame="28"/>
				<object frame="2"/>
				<object frame="73"/>
				<object frame="66"/>
				<object frame="65"/>
				<object frame="37"/>
			</category>
			<category name="purpround">
				<object frame="9" correct="true" />
				<object frame="28" correct="true" />
				<object frame="18" correct="true" />
				<object frame="32" correct="true" />
				<object frame="11"/>
				<object frame="48"/>
				<object frame="14"/>
				<object frame="29"/>
				<object frame="58"/>
				<object frame="37"/>
			</category>
		</level>
		<level id="6">
			<category name="canteat">
				<object frame="11" correct="true" />
				<object frame="58" correct="true" />
				<object frame="19" correct="true" />
				<object frame="60" correct="true" />
				<object frame="62"/>
				<object frame="14"/>
				<object frame="38"/>
				<object frame="34"/>
				<object frame="15"/>
				<object frame="61"/>
			</category>
			<category name="grew">
				<object frame="70" correct="true" />
				<object frame="38" correct="true" />
				<object frame="36" correct="true" />
				<object frame="34" correct="true" />
				<object frame="71"/>
				<object frame="57"/>
				<object frame="42"/>
				<object frame="66"/>
				<object frame="9"/>
				<object frame="26"/>
			</category>
			<category name="orangenotround">
				<object frame="13" correct="true" />
				<object frame="48" correct="true" />
				<object frame="47" correct="true" />
				<object frame="16" correct="true" />
				<object frame="7"/>
				<object frame="33"/>
				<object frame="64"/>
				<object frame="42"/>
				<object frame="39"/>
				<object frame="43"/>
			</category>
			<category name="wear">
				<object frame="50" correct="true" />
				<object frame="48" correct="true" />
				<object frame="53" correct="true" />
				<object frame="49" correct="true" />
				<object frame="28"/>
				<object frame="40"/>
				<object frame="75"/>
				<object frame="3"/>
				<object frame="5"/>
				<object frame="41"/>
			</category>
		</level>
		<level id="7">
			<category name="simthings">
				<object frame="21" correct="true" />
				<object frame="22" correct="true" />
				<object frame="25" correct="true" />
				<object frame="23" correct="true" />
				<object frame="60"/>
				<object frame="67"/>
				<object frame="57"/>
				<object frame="29"/>
				<object frame="16"/>
				<object frame="2"/>
			</category>
			<category name="simthings">
				<object frame="51" correct="true" />
				<object frame="52" correct="true" />
				<object frame="53" correct="true" />
				<object frame="54" correct="true" />
				<object frame="47"/>
				<object frame="62"/>
				<object frame="33"/>
				<object frame="10"/>
				<object frame="45"/>
				<object frame="56"/>
			</category>
			<category name="simthings">
				<object frame="29" correct="true" />
				<object frame="30" correct="true" />
				<object frame="28" correct="true" />
				<object frame="31" correct="true" />
				<object frame="63"/>
				<object frame="49"/>
				<object frame="50"/>
				<object frame="6"/>
				<object frame="36"/>
				<object frame="34"/>
			</category>
		</level>
	</levels>

</config>